*{
    font-family:sans-serif ;
  }
  
  .table{
  
  }
  .table__row{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 3px;
  }
  
  .table__box{
    background-color: rgba(205, 209, 205, 0.438);
    height: 40px;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2px 5px;
    border-radius: 5px;
    gap: 10%;
    transition: ease-in-out 0.2s;
  }
  .table__box:hover{
    background-color: rgba(205, 209, 205, 0.6);
    transition: ease-in-out 0.2s;
  }
  
  .table__box.green{
    background-color: rgba(159, 250, 126, 0.3);
  }
  
  .table__box.red{
    background-color: rgb(255, 103, 103,0.2);
  }
  
  .table__box.today{
    background-color: rgba(174, 243, 255, 0.226);
   
  }
  
  .table__percent{
    color: black;
  }
  .table__percent.red{
    color:red;
  }
  
  .table__percent.green{
    color:green;
  }
  
  .table__chart{
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: center;
  }
  .table__button-del{
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 1%;
    width: 30px;
    height: 100%;
    background-color: rgb(255, 103, 103,0.2);;
    border: none;
    border-radius: 4px;
    transition: ease-in-out 0.2s;
  }
  
  .table__button-del:hover{
    transition: ease-in-out 0.2s;
    background-color: rgb(255, 103, 103,0.4);;
  }
  
  @media (max-width: 720px){
    .table__button-del{
    top: 25%;
    left: 1%;
    width: 30px;
    height: 50%;
  }
  }
  @media (max-width: 660px){
    .table__box{
   font-size: 11px;
   }
  }
  
  
  @media (max-width: 550px){
    .table__button-del{
    top: 25%;
  
    width: 10px;
    height: 50%;
  }
  }